@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    background: url('https://source.unsplash.com/collection/1408037/1600x900') no-repeat center / cover;
    background: url('https://images.unsplash.com/photo-1498422586775-096388253518?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80') no-repeat center / cover;
    font-family: 'Helvetica', sans-serif;
    color: white;
}
  